<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= APP_NAME %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" />
  <!-- bundle.css is injected here by html-webpack-plugin -->
</head>

<body>
  <div id="scene-container"></div>
  <div class="ui-elements">
    <div class="control">
      <label>Tool</label>
      <div class="tool-state horizontal-radios">
        <label class="radio-label">
          <input type="radio" value="activate" checked name="tapState">
          <span>Activate</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="create" name="tapState">
          <span>Create</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="select" name="tapState">
          <span>Select</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="delete" name="tapState">
          <span>Delete</span>
        </label>
      </div>
    </div>
    <div class="control tool-mode">
      <label>Edit Mode</label>
      <div class="horizontal-radios">
        <label class="radio-label">
          <input type="radio" value="normal" checked name="editMode">
          <span>Normal</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="create" name="editMode">
          <span>Quick</span>
        </label>
      </div>
    </div>
    <div class="control creation-tile-type">
      <label>Creation Tile Type</label>
      <div class="list-radios">
        <label class="radio-label">
          <input type="radio" value="first" checked name="creationTileType">
          <span>Floor</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="second" name="creationTileType">
          <span>Wall</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="third" name="creationTileType">
          <span>Door</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="fourth" name="creationTileType">
          <span>Water</span>
        </label>
        <label class="radio-label">
          <input type="radio" value="fifth" name="creationTileType">
          <span>Pit</span>
        </label>
      </div>
    </div>
    <div class="control">
      <button class="reset-button">Reset tile position!</button>
    </div>
    <div class="control selected-tile-actions">
      <span class="selected-tile-label"></span>
      <button class="rotate-tile">Rotate</button>
    </div>
    <div class="control hero-action">
      <label>Add hero to selected tile</label>
      <button class="place-hero">Place Hero</button>
      <div class="d-pad">
        <button class="rotate-hero-left">&larr;</button>
        <button class="rotate-hero-right">&rarr;</button>
        <button class="move-hero-forward">&uarr;</button>
        <button class="move-hero-backward">&darr;</button>
        <label class="enable-wasd toggle-check-label">
          <input type="checkbox" value="true" name="enableWASD">
          <span>Enable WASD</span>
        </label>
      </div>
    </div>
    <div class="control">
      <button class="go-fullscreen">Go Fullscreen</button>
    </div>
  </div>
  <!-- bundle.js is injected here by html-webpack-plugin -->
</body>

</html>
