<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= APP_NAME %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" />
  <!-- bundle.css is injected here by html-webpack-plugin -->
</head>

<body>
  <ul>
    <li><a href="board.html">Board</a></li>
    <li><a href="grid.html">Grid</a></li>
    <li><a href="texture.html">Texture</a></li>
    <li><a href="train.html">Train</a></li>
    <li><a href="birds.html">Birds</a></li>
    <li><a href="dice.html">Dice</a></li>
  </ul>
  <!-- bundle.js is injected here by html-webpack-plugin -->
</body>

</html>
