<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= APP_NAME %></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" />
  <!-- bundle.css is injected here by html-webpack-plugin -->
</head>

<body>
  <ul>
    <li><a href="board.html">Board - Very early prototyping</a></li>
    <li><a href="grid.html">Grid - Eary map prototyping</a></li>
    <li><a href="texture.html">Merged geometries with vertex colors</a></li>
    <li><a href="train.html">Train - choo choo</a></li>
    <li><a href="birds.html">Birds - tweet tweet</a></li>
    <li><a href="dice.html">Dice</a></li>
    <li><a href="gltfTest.html">GLTF Test - merging buffer geometries with vertex colors and using buffer geometries
        from gltf models</a></li>
    <li><a href="outline.html">Outline</a></li>
  </ul>
  <!-- bundle.js is injected here by html-webpack-plugin -->
</body>

</html>
