@import "variables.css";
@import "font-face-rules.css";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

body {
  font-family: var(--typography-font-family-primary);
  margin: 0;
  overflow: hidden;
}

#scene-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ui-elements {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 200px;
  border: 2px solid #232323;
  background: white;
  padding: 5px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.control:not(:first-child) {
  margin-top: 10px;
}

.radio-label {
  font-size: 12px;
}

.selected-tile-actions {
  display: none;
}

.selected-tile-actions.has-selection {
  display: block;
}
